@model AppUserVM
@{
    ViewBag.Title = "LostPassword";
}
<style>
    .topPersonal {
        margin-top: 30px;
    }
</style>
@if (ViewBag.Bilgi != null)
{
    <div style="margin-top:60px" class="alert alert-warning text-center">@ViewBag.Bilgi</div>
}
@using (Html.BeginForm("LostPassword", "Account", FormMethod.Post, new { @class = "login" }))
{
    <p style="font-size:12pt;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;" class="text-center topPersonal"><b>Şifrenizi mi Unuttunuz?</b><br />Sistemde kayıtlı olan mail adresinizi giriniz. Mail adresinize şifrenizi sıfırlayabilmeniz için link göndereceğiz.</p>





    <div class="field-wrap">
        @Html.TextBoxFor(x => x.AppUser.Email, new { @placeholder = "Email adresinizi giriniz", @class = "login__input" })
    </div>

    <div class="login__control topPersonal">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Şifremi Sıfırla</button>
    </div>
}

<div class="clearfix"></div>

