
@{
    ViewBag.Title = "RegisterOk";
}

<script>
    setTimeout(function () {
        window.location.assign("/Account/Login");
        //5 saniye sonra yonlenecek
    }, 5000);
</script>

<div style="margin-bottom:300px;">
    
    <div style="margin-top:60px;text-align:center" class="alert alert-success"><h5>Tebrikler kayıt olma işleminizi başarıyla gerçekleştirdiniz. Lütfen email adresinize gönderdiğimiz aktivasyon linkini kontrol ediniz.</h5>
    
    </div>

</div>

