
@{
    ViewBag.Title = "About";
}

<style>
    p {
        color:black;
        font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<hr />

<h2 style="padding-left:550px;">Hakkmızda</h2>
<hr />
<br />
<br />
<br />
<p style="color:black;font-family:tahoma;font-weight:bold;font-size:125%">
   Merhaba Sinflex Cinema Salonlarına Hoş Geldiniz Doyasıya Aksiyon , Gerilim , Korku , Bilim Kurgu  ve daha fazla filmler için takipte kalınız.
</p>

