@*@model CheckoutVM*@
@{
    ViewBag.Title = "ConfirmReservation";
}

<section class="container">
    <div class="order-container">
        <div class="order">
            <img class="order__images" alt='' src="images/tickets.png">
            <p class="order__title">Teşekkür Ederiz <br><span class="order__descript">Bilet rezervasyon işleminiz başarı ile gerçekleştirildi. Lütfen filmden en geç 30 dakika öncesinde rezervasyonunuzu bilete çevirtiniz.</span></p>
        </div>

        <div class="ticket">
            <div class="ticket-position">
                <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">online ticket</div> </div>
                <div class="ticket__inner">

                    <div class="ticket-secondary">
                        <span class="ticket__item">Ticket number <strong class="ticket__number">a126bym4</strong></span>
                        <span class="ticket__item ticket__date">25/10/2013</span>
                        <span class="ticket__item ticket__time">17:45</span>
                        <span class="ticket__item">Cinema: <span class="ticket__cinema">Cineworld</span></span>
                        <span class="ticket__item">Hall: <span class="ticket__hall">Visconti</span></span>
                        <span class="ticket__item ticket__price">price: <strong class="ticket__cost">$60</strong></span>
                    </div>

                    <div class="ticket-primery">
                        <span class="ticket__item ticket__item--primery ticket__film">Film<br><strong class="ticket__movie">The Fifth Estate (2013)</strong></span>
                        <span class="ticket__item ticket__item--primery">Sits: <span class="ticket__place">11F, 12F, 13F</span></span>
                    </div>


                </div>
                <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online ticket</div></div>
            </div>
        </div>

    </div>
</section>

<div class="clearfix"></div>

