@{
    ViewBag.Title = "Contact";
}



<body>
    <div class="wrapper">
        <!-- Banner -->
        <div class="banner-top">
    
        </div>
        
        <!-- Header section -->
        <!-- Search bar -->
        <!-- Main content -->
        <section class="container">
            <h2 class="page-heading heading--outcontainer">Iletişim</h2>
            <div class="contact">
                <p class="contact__title">Yardima mı ihtiyacin var ? <br><span class="contact__describe">Iletişim</span></p>
                <span class="contact__mail">sinflex@movie.com</span>
                <span class="contact__tel">+127 444 21 75</span>
            </div>
        </section>

        <div class="contact-form-wrapper">
            <div class="container">
                <p style="color:black;font-family:tahoma;font-weight:bold;font-size:125%">

                    <br />
                    <marquee>Vizyondaki filmler 1 tık uzağında fırsatlarla dolu film dünyasını kaçırma</marquee>

                </p>

            </div>
        </div>

        <section class="container">
            <div class="contact">
                <p class="contact__title">Konumumuzu bulmaya mi çalısıyorsunuz? <br> <span class="contact__describe">biz burdayiz</span></p>
            </div>
        </section>

        <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1103.311193860343!2d29.28394823669093!3d40.86069216775804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sde!2str!4v1617463859109!5m2!1sde!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>

        <div class="clearfix"></div>


    </div>

    <!-- open/close -->
    <!-- JavaScript-->
    <!-- jQuery 3.1.1-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/external/jquery-3.1.1.min.js"><\/script>')</script>
    <!-- Migrate -->
    <script src="js/external/jquery-migrate-1.2.1.min.js"></script>
    <!-- Bootstrap 3-->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Mobile menu -->
    <script src="js/jquery.mobile.menu.js"></script>
    <!-- Select -->
    <script src="js/external/jquery.selectbox-0.2.min.js"></script>

    <!--*** Google map  ***-->
    <script src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <!--*** Google map infobox  ***-->
    <script src="js/external/infobox.js"></script>

    <!-- Form element -->
    <script src="js/external/form-element.js"></script>
    <!-- Form validation -->
    <script src="js/form.js"></script>

    <!-- Custom -->
    <script src="js/custom.js"></script>

    <script type="text/javascript">
            $(document).ready(function() {
                init_Contact ();
            });
    </script>

</body>